/* General Demo Style */
body {
	overflow-x: hidden !important;
	background-image: url('../style/covid19_actu.jpg');
	background-repeat: unset;
}
#tip {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	height: 30px;
	font-weight: bold;

}

#map {
	max-width: 100%;
	max-height: 100%;
}
#map path {
	fill:#86AAE0;
	stroke:#FFFFFF;
	stroke-width:0.6;
	transition: fill 0.2s, stroke 0.3s;
}
#map path:hover {
	fill: blue;
	stroke: blue;
}
#map .separator {
	stroke: #ccc;
	fill: none;
	stroke-width:1.5;
}
#map .separator:hover {
	stroke: #ccc;
	fill: none;
}

#stats-dep {
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
}

h2 {
}

.test {
	font-weight: bold !important;

}
.badge {
	font-size: 150% !important;
	color: white !important;
}

.card {
	width: fit-content !important;
	margin-left: auto !important;
	margin-right: auto !important;
	background-color: rgba(0,0,100,0.2) !important;
}

.slide div img {
	z-index: 999;
	position: absolute;
	width: 200px !important;
	height: 200px !important;
	margin-left: 20px !important;
	-webkit-transition: .6s linear !important;
	transition: .6s linear margin-left !important;
}

.slide div img {
	margin-left: 100% !important;
}